*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #F3F3F3;
}

nav{
    position: fixed;
    top: 0;
    z-index: 10000;
}

/* footer{
    margin-top: auto;
    width: 100%;
    height: 200px;
    background-color: gray;
} */

/* ///// /////////////////////////////////////////*/
#section-content{
    width: 100%;
    padding: 0px 10px 40px 10px;
    margin-top: 120px;
}

/* <!-- //Section Path --> */
.section-path{
    width: 100%;
    padding: 10px 10px 10px 20px;
    /* border: 1px solid black; */
}

.section-path > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.section-path > ul > li{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.section-path > ul > li > a{
    text-decoration: none;
    color: #000000;
    margin-right:5px ;
}
.section-path > ul > li > i{
    font-size: 13px;
}
.section-path > ul > li:last-child > i{
    display: none;
}