*{
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(246,246,247);
    margin: 0;
    padding: 0;
}

.main-container{
    width: 90%;
    height: 528px;
    background-color: white;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 120px;
    margin-top: 50px;
    /* justify-content: space-between; */
    
}
#banner{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#signin{
    font-size: 25px;
    font-weight: bold;
}
#next-line{
    margin-top: -20px;
    color: rgb(103,103,103);
    margin-bottom: 50px;
}

.mobile{
    width: 70%;
    border: 1px solid rgb(234,241,245);
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 8px;
}
input[type="number"]{
    font-size: 15px;
    border: 0px solid;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none; 

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.separator{
    width: 1px;
    height: 20px;
    background: black;
    margin-left: 5px;
    margin-right: 5px;
}
#isdcode{
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.right{
    color: white;
    font-size: 20px;
}
.btn{
    width: 30%;
    margin: auto;
}
#submit{
    background-color: rgb(0,142,204);
    padding: 18px 23px;
    border-radius: 50%;
    border: none;
    margin-top: 30px;
}
#terms{
    color: red;
}
#ptag{
    color: rgb(103,103,103);;
}
.terms-condition{
    font-size: 14px;
    width: 25%;
    margin: auto;
    text-align: center;
}