*{
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(246,246,247);
}
b{
    color: black;
}
.main-container{
    width: 90%;
    background-color: white;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 120px;
    /* justify-content: space-between; */
    
}
#banner{
    border-top-left-radius: 20px;
}
#signup{
    font-size: 25px;
    font-weight: bold;
}
#next-line{
    font-size: 14px;
    margin-top: -20px;
    color: rgb(103,103,103);
    margin-bottom: 25px;
}
.form-fill{
    width: 93%;
    margin: auto;
}
input[type="password"],input[type="text"],input[type="email"],button{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 40px;
    resize:vertical;
    border-radius: 5px;
    background-color: transparent;
    resize: none;
    outline: none;
}
#whatsappicon{
    width:7%;
    margin-right: 10px;
}
#text{
    font-size: 14.3px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 20px;
}
.get-notification-whatsapp{
    width: 90%;
    border-bottom: 1px solid rgb(234,241,245);
    display: flex;
    align-items: center;
}
#checkbox{
    width: 20px;
    height: 20px;
}
.verify-next-line{
    width: 90%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -25px;
    margin-bottom: -8px;
}
#verify-next-lines{
    width: 90%;
    font-size: 14px;
    color: rgb(103,103,103);
}
#terms{
    color: red;
}
#term{
    color: red;
    margin-right: 5px;  
}
#ptag{
    color: rgb(103,103,103);;
}
#verify{
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
}
.terms-condition{
    font-size: 14px;
    width: 25%;
    margin: auto;
    text-align: center;
}
#password-condition{
    font-size: 13px;
    margin-top: -40px;
    color: rgb(103,103,103);
    margin-bottom: 25px;
}
#bttn{
    background-color: rgb(0,142,204);
    border: none;
}
#bttn a{
    font-size: 18px;
    color: white;
}
